body {
	font-family: arial;
}

label, input[type=submit] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

table {
    width: 70%;
}
tr.title {
    background: #efefef;
}
p.message {
    color: green;
}

 label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
 }
 
 nav#menu {
        margin-top: -1%;
        width: 100%;
        background: rgba(255,0,0,.8);
        box-shadow: 1px 1px 10px rgba(255,0,0,.5);
 }
 
 nav#menu ul {
	font-weight: bold;
	font-size: 1.2em;
        text-align: center;
	padding: 1%;
 }
 
  nav#menu li a {
	text-decoration: none;
	color: white;
}

  nav#menu li a:hover {
	color: silver;
  }
  
  nav#menu li {
	display: inline-block;
	margin-right: 3%;
  }
  
    nav#menu li ul {
		position: absolute;
		background: rgba(255,0,0,.5);
		padding: 1%;
		display: none;
	}
	
	nav#menu form {
		position: absolute;
		background: rgba(255,0,0,.5);
		color: white;
		padding: 1%;
		display: none;
	}
	
	nav#menu input {
		border: 1px solid white;
	}
  
  .error {
	color: red;
  }
  
  #manterLogado  {
	font-size: .8em;
  }
  
  #manterLogado input {
	float: left;
  }
  
  input {
	border: 1px solid black;
  }
  
  .ui-button {
	font-size: .8em;
  }
  
  /* CSS DAS DIV'S EM PHP */
  
  #interface {
      width: 100%;
      height: 100%;
  }
  
  #home{
      background: url('../imagens/doctor-photo.jpg');
      background-size: 100% 100%;
      box-shadow: 1px 1px 10px rgba(255,0,0,.5);
      height: 600px;
  }

  
  h4.home{
      font-size: 10em;
  }
  
  #cadastro01 {
      background: url('../imagens/medical.jpg');
      background-attachment:fixed;
      background-size: 100% 100%;
      box-shadow: 1px 1px 10px rgba(255,0,0,.5);
      height:800px;
  }

form.cadastro {
      float: right;
      padding-top: 3%;
      padding-right: 10%;
      width: 400px;
  }
  
  div#busca {
       background: url('../imagens/doctor-photo.jpg');
      background-size: 100% 100%;
      box-shadow: 1px 1px 10px rgba(255,0,0,.5);
      height: 600px;
  }
 form#busca {
      width: 25%;
      background: white;
  }